<div class="page-header">
    <h1>Facility details</h1>
</div>

<div class="detail-panel" *ngIf="facility$ | async as facility">
    <h2>{{ facility.name }}</h2>
    <div *ngIf="!isEditing">
        <h2> {{facility.id}}</h2>
        <p> {{facility.facilityType}}</p>
        <p> {{facility.location}}</p>
        <button *ngIf="userRole === 'ADMIN'" (click)="startEdit(facility)">Edit</button>
    </div>

    <div *ngIf="isEditing">
        <input [(ngModel)]="editName" name="editName">
        <input [(ngModel)]="editLocation" name="location">
        <select [(ngModel)]="editFacilityType" name="facilityType">
            <option value="ROOM">Room</option>
            <option value="COMMON_AREA">Common Area</option>
            <option value="UTILITY">Utility</option>
        </select>
        <button (click)="saveEdit()">Save</button>
        <button (click)="isEditing = false">Cancel</button>
    </div>
</div>