<div *ngIf="request$ | async as request">
    <h2>{{ request.title }} </h2>
    <h3>{{ request.id }} </h3>
    <p>Priority: {{ request.priority }} </p>
    <p>Description: {{ request.description }} </p>
    <p>Created at: {{ request.createdAt }} </p>
    <p>Due at: {{ request.dueAt }}</p>
    <p>Status: {{request.status}} </p>
    <p>Assigned Staff: {{ request.assignedStaffName || 'Not yet assigned' }}</p>
    <p>Facility: {{ request.facilityName || 'Not yet assigned' }}</p>
    <p>Tenant: {{ request.tenantName || 'Not yet assigned' }}</p>
    <p>Vendor: {{ request.vendorName || 'Not yet assigned' }}</p>

    <button *ngIf="userRole === 'STAFF' || userRole === 'ADMIN'" (click)="markAssigned()">
        Mark as Assigned
    </button>
</div>

<h3>Attachments</h3>
<div *ngIf="attachments$ | async as attachments">
    <div *ngFor="let attachment of attachments">
        <p>{{ attachment.fileName }}</p>
    </div>
</div>

<div *ngIf="attachments$ | async as attachments">
    <div *ngFor="let attachment of attachments">
        <p>{{ attachment.fileName }}</p>
        <img *ngIf="imageUrls.get(attachment.id) as imgUrl" [src]="imgUrl" width="150">
        <button *ngIf="!imageUrls.get(attachment.id)" (click)="loadImage(attachment.id)">View Image</button>
    </div>
</div>

<input type="file" (change)="onFileSelected($event)">
<button (click)="uploadAttachment()">Upload</button>
<h3>Comments</h3>
<div *ngIf="comments$ | async as comments">
    <div *ngFor="let comment of comments">
        <p><strong> {{ comment.authorName }}</strong>: {{comment.content}}</p>
    </div>
</div>

<form (ngSubmit)="submitComment()">
    <textarea [(ngModel)]="newCommentText" name="newCommentText" required></textarea>
    <button type="submit">Post Comment</button>
</form>

<h3>Status History</h3>
<div *ngIf="histories$ | async as histories">
    <div *ngFor="let history of histories">
        <p> <strong> {{ history.changedBy }}</strong>: {{ history.changedAt }}: <strong> {{ history.oldStatus }}
            </strong> -> <strong> {{ history.newStatus }} </strong> </p>
    </div>
</div>